* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

html {
    font-size: 16px;
}
body {
    font-family:Arial, Helvetica, sans-serif;
   
}
#bgimg_div {
    height: 41rem;
    width: 70%;
    
    background-image: url(../images/BusinessGrowth-login.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    float: left;
}
#signin_container {
    height: 41rem;
    width: 30%;
    
    float: right;
}
#mypagelogo {
    height: 5.5rem;
    width: 6rem;
    margin: 10% 30% 5% 30%;
}
.display_block {
    display: block;
}

/*Utility Section Start*/

.utility_label_style {
    margin-bottom: 0.5rem;
   
}
.utility_input_style {
    margin-bottom: 2rem;
    height: 3rem;
    width: 85%;
    padding: 0rem 0.3rem;
    border: 0.1rem solid rgb(197, 197, 197);
    border-radius: 0.2rem;
    outline: none;
    color: rgb(95, 95, 95);
}
.utility_input_style:focus {
    border: 0.18rem solid rgb(0, 194, 194);
    transition: 0.3s;
}

/*Utility Section End*/

#btn {
    color: white;
    background-color: rgb(0, 194, 194);
    padding: 0.8rem 9.5rem;
    border: 0px;
    border-radius: 0.4rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    display: block;
}
#remember {
    float: left;
    height: 1rem;
    width: 1rem;
    margin: 0rem 0.8rem;
}
#remtext {
    float: left;
    font-size: 0.9rem;
}
#forgot {
    float: right;
    padding-right: 3rem;
    color: rgb(0, 194, 194);
    text-decoration: none;
    font-size: 0.9rem;
    margin: 0rem 0.8rem;
}
#logotextdiv {
    margin: 45% 25%;
}