* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
#header {
   
    width: 100%;
   height: 40rem;
    overflow: hidden;
    position: relative;
    background-image: url("../images/BusinessGrowth.svg");
    background-repeat: no-repeat;
    background-size: 50rem 38rem;
    background-position: bottom right;
   
}
#header::before {
    content: "";
    position: absolute;
    top:-40rem;
    left: 0rem;
    height: 40rem;
    width: 100%;
    border: 0rem;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    background: linear-gradient(to right, rgb(0, 168, 168) 25%, rgb(198, 255, 255) 65%);
    transform: scaleX(3);
    z-index: -1;
   
}
#nav_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 6rem;
   
    justify-content:center;
    padding: 0.5rem 0rem;
    z-index: 5;
    position:fixed;
}
.color {
    background-color: transparent;

}
.white {
    background-color: white;
    
}

#popup_navbar {
  
    width: 100%;
    background-color: white;
    position: relative;
    top: -12rem;
    z-index: 3;
    
}
.logoimg2 {
    display: none;
}

#nav_container::after {
    content: "";
    display: block;
    clear: both;
}



.inner_con_one {
    width: 12%;
}
#small_logo_container img {
    width: 6rem;
    height: 5rem;
    display: none;
} 

#logo {
    height: 5rem;
    width: 8rem;
    float: right;
}

#logo1 {
    height: 5rem;
    width: 8rem;
    float: right;
}

.inner_con_two {
    width: 56%;
  
}
.inner_con_three {
    width: 20%;
   
}
.inner_con_two ul {
    margin-left: 2rem;
}
.inner_con_two ul li {
    list-style-type: none;
    color:rgb(248, 248, 248);
    font-weight: bold;
    display: inline-block;
    font-size: 1.1rem;
    margin: 1.2rem 1rem;
    cursor: pointer;
}
.inner_con_two ul li a {
    text-decoration: none;
    
}
.for_diff_color {
color: white;
}
.active1 {
    color: gray;
}
.inner_con_three ul li {
    list-style-type: none;
    display: inline-block;
    margin: 1.3rem 0rem 1.3rem 1.8rem;
}
.inner_con_three ul li a {
    color: rgb(0, 0, 0, 0.8);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    
}
#signup_btn {
font-weight: normal;
font-size: 1rem;
border: 1px solid #343a40;
border-radius: 1.5rem;
padding: 0.8rem 1.1rem;
}
#signup_btn:hover {
    background-color:#6f42c1;
    color: rgb(248, 248, 248);
    transition: 0.3s;
}
#burger_btn {
    display: none;
    margin: 1.3rem 0rem 1.3rem 1.8rem;
}

#popup_navbar ul li {
    list-style-type: none;
    color: rgb(248, 248, 248);
   font-size: 1.2rem;
   font-weight: bold;
   margin: 0rem 0.5rem;
   padding: 1rem 0rem;
}

#popup_navbar ul li a {
    text-decoration: none;
    color: rgba(78, 78, 78, 0.8);
}
#header::before {
    height: 80rem;
}



#header_text_and_image_container {
   height: 28rem;
    width: 100%;
   
}
#header_text_and_image_inner_container {
   height: 28rem;
    width: 40%;
  
    margin-left: 8%;
    color: white;
}
#header_text_and_image_inner_container h1{
   margin: -2rem 0rem 2rem 0rem;
   line-height: 3rem;
   font-size: 2.3rem;
}

#header_text_and_image_inner_container p{
    margin: 1.5rem 0rem;
    line-height: 2rem;
    font-size: 1.3rem;
 }
 #know_text {
     color: white;
     text-decoration: none;
     display: inline-block;
 }

#signup_second_btn button {
    background-color: #6f42c1;
    color: white;
    border: 0rem;
    border-radius: 2rem;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    margin: 1rem 1rem;
    cursor: pointer;
}

.active {
    background-color: white;
    box-shadow: 0rem 0rem 0.3rem rgb(42, 42, 42);
}
#journey_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10rem;
}
.journey_inner_div_one_of_two {
  height: 34rem;
    width: 50%;
    background-image: url("../images/homepage-section1-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}
.journey_inner_div_two_of_two {
   
    width: 35%;
    padding-left: 2rem;
    margin-bottom: 1rem;
}
.home_div_h2_style {
    color: rgba(15, 15, 15, 0.8);
    opacity: 0.8;
    line-height: 2rem;
    margin: 1rem 0rem 2rem 0rem;
}

.home_div_p2_style {
    color: rgb(44, 44, 44);
    opacity: 0.8;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 0.5rem 0rem;
}
.home_div_atag_style a {
    color: #03C0C2;
    font-weight: bold;
    text-decoration: none;
}

#dg_interact_container {
    padding: 6rem 0rem;
    background-color: #F8F9FA;
    margin: 10rem 0rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.dg_interact_inner_div_one_of_two {
    width: 35%;
    padding-left: 2rem;
    margin-bottom: 1rem;
}
.dg_interact_inner_div_two_of_two {
    height: 34rem;
    width: 50%;
    background-image: url("../images/homepage-section2-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 1rem 0rem;
}
#zceppa_to_grow_section {
    width: 100%;
    margin-bottom: 8rem;
   
}


#zceppa_to_grow_section h1 {
    color: rgb(44, 44, 44);
    opacity: 0.8;
    font-size: 2.2rem;
    line-height: 2rem;
    margin: 0.5rem 0rem 4rem 0rem;
    text-align: center;
}
#inner_main_zceppa_to_grow_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}
.bussi_images {
    height: 18rem;
    width: 100%;
}

.inner_zceppa_to_grow_section {
    width: 30%;
}
.inner_zceppa_to_grow_section h3 {
    color: rgba(0, 0, 0, 0.8);
    
}
.inner_zceppa_to_grow_section p {
    color: rgba(53, 53, 53, 0.8);
    font-size: 1.1rem;
}

#contact_form_container {
    width: 100%;
    margin-bottom: 8rem;
}
#inner_contact_form_container {
  
    width: 83%;
    border: 0rem;
    border-radius: 0.3rem;
    margin: 0rem auto;
    background:linear-gradient(to right, rgb(0, 204, 204), rgb(228, 255, 255));
    text-align: center;
    padding: 1rem 0rem 0.2rem 0rem;
}
#inner_contact_form_container h1 {
    margin: 0rem auto 0.8rem auto;
    color: white;
    font-size: 2.5rem;
}
#inner_contact_form_container p {
    margin: 0rem 3rem 0.5rem 3rem;
    color: white;
    font-size: 1.2rem;
}
#contact_form_input_container {
 
    width: 65%;
    background-color: white;
    margin: 0.8rem auto;
    border: 0px solid gainsboro;
    border-radius: 0.3rem;
    box-shadow: 0rem 0rem 0.4rem rgb(139, 139, 139);
    padding-top: 1rem;
}

#fiver_input_fields_container {
   
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0rem auto;
}
.input_fields_one, .input_fields_two {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
}
.input_fields_one div, .input_fields_two div {
    width: 47%;
}
.input_fields_one input, .input_fields_two input {
    height: 2.2rem;
    width: 100%;
    padding-left: 1rem;
    margin: 0.8rem auto;
    border: 1px solid gainsboro;
    border-radius: 0.3rem;
    color: rgb(80, 80, 80);
    font-size: 0.9rem;
}
.inp_field:focus {
    border: 0.18rem solid rgb(0, 194, 194);
    transition: 0.3s;
    outline: none;
}
#input_company_name {
    width: 100%;
}
#input_company_name input {
    height: 2.2rem;
    width: 100%;
    padding-left: 1rem;
    margin: 0.8rem auto;
    border: 1px solid gainsboro;
    border-radius: 0.3rem;
    color: rgb(80, 80, 80);
    font-size: 0.9rem;
}

.inp1_field:focus {
    border: none;
    outline: 0.18rem solid rgb(0, 194, 194);
    transition: 0.3s;
    
}

#details_sub_btn {
    border: 0rem;
    background-color: #03C0C2;
    padding: 0.8rem 4rem;
    border-radius: 2rem;
    color: white;
    font-size: 1rem;
    margin-bottom: 13%;
    cursor: pointer;
}

#social_page_container {
    width: 100%;
    background-color: #F8F9FA;
    margin-bottom: 8rem;
    padding:7rem 0rem 5rem 0rem;
}
#social_page_container h1 {
    text-align: center;
    color: rgb(44, 44, 44);
    opacity: 0.8; 
    font-size: 2.5rem;
}
.inner_social_page_container_one {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    text-align: center;
    margin-top: 3rem;
    color: rgba(88, 88, 88, 0.8);
    font-size: 1.1rem;
}
.inner_social_page_container_two {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    text-align: center;
    margin:3rem 0rem;
    color: rgba(88, 88, 88, 0.8);
    font-size: 1.1rem;
}
.soci_images {
    height: 7rem;
    width: 7rem;
    margin: 1rem 4rem;
}

#footer_section_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#footer_section_container div {
    margin: 0rem 4rem 1rem 4rem;
}
#footer_section_container h3 {
    color: rgba(88, 88, 88, 0.8);
}
#footer_section_container p {
    margin: 0.8rem 0rem 0rem 0rem;
}
#footer_section_container a {
    color: rgba(88, 88, 88, 0.8);
    font-size: 0.8rem;
    text-decoration: none;
}
#for_code {
    height: 0rem;
    width: 80%;
    border-bottom: 1px solid rgba(109, 109, 109, 0.8);
}
#privacy_div {
    width: 80%;
    margin: 0rem auto;
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.foot_div_one {
   color: rgba(88, 88, 88, 0.8);
    float: left;
    font-size: 0.8rem;
}
.foot_div_two li {
list-style: none;
float: right;
margin: 1rem 0.5rem 0rem 0.5rem;
}


/*Media query start*/

@media only screen and (max-width: 1280px) {
    .inner_con_one {
        width: 12%;
    }
    .inner_con_two {
        width: 52%;
      
    }
    .inner_con_three {
        width: 24%;
       
    }
    #header_text_and_image_inner_container {
        width: 100%;
        margin: 0rem;
        padding: 0rem 1rem;
        text-align: center;
    }
    #header {
        height: 70rem;
        background-position: bottom center;
    }
    #header::before {
        top:0rem;
        height: 70rem;
    }
}
@media only screen and (max-width: 1199px) {

    #signup_btn {
        display: none;
    }
    .inner_con_one {
        width: 15%;
    }
    #journey_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .journey_inner_div_one_of_two {
        height: 25rem;
        width: 90%;
        background-position: center bottom;
    }
    .journey_inner_div_two_of_two {
      
        width: 90%;
        padding:0rem 2rem;
        text-align: center;
    }

    .dg_interact_inner_div_one_of_two {
       width: 90%;
       padding:0rem 2rem;
       text-align: center;
    }
    .dg_interact_inner_div_two_of_two {
        background-position: center top;
      width: 90%;
    }
    #inner_main_zceppa_to_grow_section {
        flex-direction: column;
        align-items: center;
    }
    .inner_zceppa_to_grow_section {
        margin: 1.5rem 0rem;
        width: 90%;
    }
} 
@media only screen and (max-width: 1000px) {
    .inner_con_two {
        display: none;
    }
    .inner_con_one {
        width: 30%;
    }
    .inner_con_three {
        width: 50%;
    }
    #signup_btn {
        display: block;
    }
    .inner_con_three ul  {
        float: right;
    }
    #logo {
        display: none;
    }
    #logo1 {
        display: none;
    }
    #small_logo_container img {
        display: inline-block;
        height: 4rem;
        width: 5rem;
    }
    
    .inner_con_three ul li {
        margin: 1rem 0rem 1rem 0.8rem;
    }
    
    #burger_btn {
        display: inline-block;  
        margin: 0rem;
    }
    #footer_section_container div {
        width: 100%;
        align-items: center;
        text-align: center;
    }
    #privacy_div {
        justify-content: center;
    }
    .foot_div_one {
        width: 100%;
        text-align: center;
    }

} 



@media only screen and (max-width: 800px) {
    #signup_btn {
        display: none;
    }
    .nav_right_links {
        margin: 0rem;
    }
    .inner_con_three ul li a {
        font-size: 1.5rem;
    }
    #burger_btn {
        margin: 0rem;
    }
    #header {
        background-size: 40rem 30rem;
        height: 70rem;
    }
    #header::before {
        height: 70rem;
    }
    #journey_container {
        flex-direction: column-reverse;
    }
    .input_fields_one, .input_fields_two {
        flex-direction: column;
    }
    .input_fields_one div, .input_fields_two div {
        width: 100%;
    }
    #contact_form_input_container {
        width: 90%;
    }
} 

@media only screen and (max-width: 600px) {
    .inner_con_three ul li {
        margin: 1rem 0rem;
    }
    .nav_right_links a {
        display: none;
    }
    #header {
        background-size: 30rem 30rem;
    }
    #header_text_and_image_container, #header_text_and_image_inner_container {
        height: 35rem;
    }
   
    .journey_inner_div_one_of_two {
        height: 20rem;
    }
    .dg_interact_inner_div_two_of_two {
        background-position: center top;
        height: 20rem;
    }

}

@media only screen and (max-width: 400px) {
  
  
    #header {
        background-size: 20rem 30rem;
        height: 84rem;
    }
    #header::before {
        height: 84rem;
    }
    #header_text_and_image_container, #header_text_and_image_inner_container {
        height: 50rem;
    }
    
    .journey_inner_div_one_of_two {
        height: 15rem;
    }
    .dg_interact_inner_div_two_of_two {
        height: 15rem;
    }
    
   
}



/*Media query end*/